<footer>
  <p>
    <a href="http://zhp.pl">Związek Harcerstwa Polskiego</a>, 
    <a href="http://wnt.zhp.pl">Wydział Nowych Technologii</a>, 2012.
  </p>
  <p>
    Na potrzeby programu <a href="http://rokregionow.zhp.pl">Rok Regionów</a>
    stworzył <a href="http://grzegorzwitek.pl">Grzegorz Witek</a>.
  </p>
</footer>
