{% extends '::base.html.twig' %}

{% block body %}
  <form action="{{ path('team_create') }}" method="POST" {{ form_enctype(form) }}>
      {{ form_widget(form) }}

      <input type="submit" />
  </form>
{% endblock %}
